.ManOnMoon {
  height: 20%;
  width: 20%;
  margin: 2%;
}

.BuzzNeilMichael {
  height: 20%;
  width: 20%;
  margin: 2%;
}

.FirstStep {
  height: 20%;
  width: 20%;
  margin: 2%;
}

.Nasa {
  height: 20%;
  width: 20%;
  margin: 2%;
}

.quote {
  text-align: center;
}
